body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header{
    background-color: rgb(120, 174, 228);
    padding: 15px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin: 30px 0;
}

.container img {
    width: 200px; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.container img:hover {
    transform: scale(1.2);
}