:root {
  --primary-color: rgb(120, 174, 228)
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: var(--primary-color);
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    margin: 15px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto; 
}

.option {
    width: 150px; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.option:hover {
    transform: scale(1.2);
}

.game-container p {
    text-transform: uppercase;
}

.user-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    margin: 10px 0;
}

.play-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 300px;
    margin: 10px 0;
}

.selected {
    border: none;
    filter: drop-shadow(0px 0px 10px rgb(248, 248, 6));
    filter: drop-shadow(0 0 5px white) drop-shadow(0 0 15px rgb(248, 248, 6));
}

.locked {
    pointer-events: none;
    opacity: 0.4;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#user-choice, #computer-choice {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    justify-content: flex-end;
    width: 200px;
    height: 250px;
}

#user-choice img, #computer-choice img {
    width: 175px; 
    height: auto;
}

.fade-in-element {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    /* width: 150px; 
    height: auto; */
}

button {
    display: flex;
    margin: auto;
    background-color: var(--primary-color);
    font-size: 18px;
    padding: 10px;
    border-width: 1px;
    border-radius: 18px;
    transition: transform 0.3s ease; 
}

button:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);   
}

#vs {
    visibility: hidden;
    font-size: 30px;
}

#result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    margin: 5px auto;
    width: max-content;
}

#result {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
    transition: all 0.3s ease;
}

